<%- include('partials/head') %>


    <%- include('partials/navbar') %>
        <h1> Welcome to Home Page <%= 4+5+23 %>
        </h1>
        <p>
            <%= 'shree' .toUpperCase() %> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nobis
                delectus
                vero impedit eius, saepe
                dignissimos odit, illum voluptas quam debitis aspernatur sequi maxime eos, ullam velit unde deleniti
                sed.
        </p>
        <%- include('partials/footer')%>